
.group:hover img {
    filter: grayscale(0%);
}

@media (max-width: 650px) {
    .project-card img {
        filter: grayscale(0%);
        /* animation: fadeIn 5s forwards; */
        animation: fadeIn 5s ease-in-out;
    }
    @keyframes fadeIn {
        from {
            filter: grayscale(100%);
        }
        to {
            filter: grayscale(0%);
        }
    }
}